body {
	-webkit-animation: colorchange 20s;
	animation-iteration-count:infinite;
	text-align: center;
}

@-webkit-keyframes colorchange {
	0% {background: #923A95;}
	25% {background: #D03DCB;}
	50% {background: #D51CB6;}
	75% {background: #ED50D3;}
	100% {background: #ED87DC;}
}

h1 {
	font-family: 'Fira Code', monospace;
	text-align: center;
}

.board {
    background-color: transparent;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#player {
	color: #E5AAAA;
	font-family: 'Fira Code', monospace;
}