body {
	-webkit-animation: colorchange 10s;
	animation-iteration-count:infinite;
	text-align: center;
}

@-webkit-keyframes colorchange {
	0% {background: #923A95;}
	25% {background: #D03DCB;}
	50% {background: #D51CB6;}
	75% {background: #ED50D3;}
	100% {background: #923A95;}
}

h1 {
	font-family: 'Fira Code', monospace;
	text-align: center;
}

.board {
    background-color: transparent;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    cursor: crosshair;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#player {
	color: #E5AAAA;
	font-family: 'Fira Code', monospace;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family: 'Fira Code', monospace;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
}